extends ../layout.pug

block content
  style.
    .timings {
      width: 100px;
    }

    select {
      width: 400px;
    }

    @media (max-width: 767px) {
      select {
        width: 200px;
      }
    }
      
    label {
      text-transform: capitalize;
    }

  form(
    id="submit-scores" 
    action=`/submit_scores/${score.id}` 
    method="post" 
    class="flex flex-col items-start"
    enctype="multipart/form-data"
  )
    h1(class="text-2xl my-2")= `Editing score for ${score.song.name}`

    input(type="hidden" name="id" value=score.id)

    div
      each timing of ["perfect", "great", "good", "miss", "boo"]
        div(class="w-full flex my-1")
          label(for=timing class="timings")= `${timing}:`
          input(
            type="number" 
            name=timing 
            id=timing
            placeholder=0
            value=score[timing]
            class="border border-black p-1"
          )

    label(for="grade") grade:
    select(
      class="border border-purple-500 p-1" 
      required 
      name="grade" 
      selected=score.grade
    )
      each grade of ["AAA", "AA", "A", "B", "C", "D", "E"]
        if grade == score.grade
          option(value=grade selected)= grade
        else
          option(value=grade)= grade
    
    label(for="image") image:
    input(type="file" name="image") 
      
    button(type="submit") Submit