extends ../layout.pug

block content
  style.
    .timings {
      width: 100px;
    }

    select {
      width: 400px;
    }

    @media (max-width: 767px) {
      select {
        width: 200px;
      }
    }
      
    label {
      text-transform: capitalize;
    }

  form(id="submit-scores" action="/submit_scores" method="post" class="flex flex-col items-start")
    div(class="flex")
      label(for="song" class="timings") Song:
      select(name="song" class="border border-purple-500 p-1")
        each song of songs
          if song.id.toString() === songToScore
            option(value=song.id selected)= song.name
          else
            option(value=song.id)= song.name

    div
      each timing of ["perfect", "great", "good", "miss", "boo"]
        div(class="w-full flex my-2")
          label(for=timing class="timings")= `${timing}:`
          input(
            type="number" 
            name=timing 
            id=timing
            placeholder=0
            class="border border-black p-1"
          )

    div(class="flex")
      label(for="grade" class="timings") grade:
      select(
        class="border border-purple-500 p-1" 
        required 
        name="grade" 
      )
        each grade of ["AAA", "AA", "A", "B", "C", "D", "E"]
          if grade === "AAA"
            option(value=grade selected)= grade
          else
            option(value=grade)= grade
      
    button(type="submit") Submit