extends ../layout.pug

block content
  form(action="/auth/login", method="post")
    label(for="username") Username:
    input(
      type="text" 
      name="username" 
      id="username"
      class="border border-black"
    )

    input(
      type="text" 
      name="username" 
      id="username"
      class="border border-black"
    )