extends ../layout.pug

block content
  style. 
    .rank {
      width: 50px;
    }

    .player {
      width: 200px;
    }

    .region {
      width: 250px;
    }

    .last-active {
      width: 150px;
    }

    .links {
      width: 200px;
    }

  div.flex
    .rank Rank
    .player Player
    .region Region
    .last-active Last Active
    .links Links

  each user of users
    div.flex
      .rank= user.rank
      .player.overflow-ellipsis.overflow-hidden.whitespace-nowrap= user.username
      div(title=user.region).region.overflow-ellipsis.overflow-hidden.whitespace-nowrap= user.region
      .last-active= user.lastActive
      .links 
        a(
          href=`https://twitter.com/${user.twitter}`
          class="underline text-blue-500"
        )=`${user.twitter}`