extends ../layout.pug


block content

  script.
    function scrollToAnchor (letter) {
      const isMobile = window.innerWidth < 768
      const [$mobile, $desktop] = document.querySelectorAll(`#${letter}`)
      if (isMobile) {
        $mobile.scrollIntoView()
      } else {
        $desktop.scrollIntoView()
      }
    }

  style.
    th, td {
      padding: 2px 4px;
    }

    tr {
      border: 1px solid;
    }

    th, tr > td {
      border-right: 1px solid;
    }

  if !user
    div= `${name} does not exist.`
  else
    h1(class="text-2xl mb-2")= `Profile for ${user.username}`
    div(class="flex mb-2")
      div(class="flex flex-col")
        p= `Scores: ${scoreCount}`
        p= `Total great count: ${greats}`

      if flag
        div(class="mx-2")= `${flag}`

    each letter of letters
      a(href=`#${letter} ` class="pr-1" onclick=`scrollToAnchor("${letter}")`)= letter

    table
      thead
        tr
          th(class="song-title") Song
          if canEdit
            th Edit
          th Grade
          th Perf
          th Great
          th Good
          th Miss
          th Boo
          th Photo

      tbody
        each score of scores
          tr(
            class=`${score.grade === "AAA" ? "bg-blue-200" : score.grade === "AA" ? "bg-yellow-200" : score.grade === "A" ? "bg-green-300" : ""}`
            id=score.anchor
          )
            td(class="song-title")
              =score.song.name
              if score.grade == "AA"
                =` (${score.great}g)`
            if canEdit
              td
                if score.id
                  a(href=`/submit_scores/${score.id}/edit`)= "Edit"
                else
                  a(href=`/submit_scores?song_id=${score.song.id}`)= "Edit"
            td= score.grade
            td= score.perfect
            td= score.great
            td= score.good
            td= score.miss
            td= score.boo
            td
              if score.image
                a(href=`/images/${score.image}`) Link
